*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    background-color: rgb(16, 53, 87);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    position:fixed;
}

.darkblue{
    background-color: rgb(21, 61, 99);
}

.white{
    color: aliceblue;
    font-weight: bold;
    font-size: large;
}
.black{
    color: black;
    font-weight: bold;
    font-size: large;
}
.button{
    width: 100px;
    height: 44px;
    border-radius: 8px;
}

.yellow{
    background-color: rgb(231, 152, 55);
}
.whitebg{
    background-color: aliceblue;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Navfinish  */

/* Home  */
.home{
    width: 100%;
    height: 50vh;
}
.hometext{
    color: white;
    font-weight: bold;
    font-size: 70px;
}
.button2{
    height: 44px;
    border-radius: 8px;
    width: fit-content;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: white 10px 3px 64px 5px;
}
.banner{
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
/* home done  */

/* title  */
.titletext{
    font-weight: bolder;
    font-size: 50px;
    color: rgb(16, 53, 87);
}
 /* title done  */

 /* box  */
.box{
    width: 50%;
    overflow: hidden;
    border-radius: 60px;
    height: 35rem;
    box-shadow: gray 0px 0px 10px 0px;
    padding: 50px;
}
.boximg{
    width: 40%;
    border-radius: 30px;
    overflow: hidden;
    height: 100%;
    box-shadow: gray 0px 0px 10px 0px;
}

.boxtext{
    width: 60%;
    padding: 20px;
    padding-left: 40px;
}
.list{
    text-wrap: "wrap";
}
.heading{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.listtext{
    color: gray;
    font-size: 18px;
    margin-bottom: 10px;
}
.but{
    width: 150px;
    height: 50px;
    background: rgb(16, 53, 87);
    border-radius: 15px;
}